body .main_container{
margin:10px 10px 10px 10px;
*top:10px;
}



#topbar{
	display:block;}
	
	
body .main_container{
	margin:10px 10px 10px 10px !important;
	*top:10px;
	}

body #sidebar{
	display: block;
	position: fixed !important;
	left:-200px;
	padding:10px 10px 10px 20px !important;
	margin: 0 !important;
	z-index: 999;
	background-color:rgba(0,0,0,0.75) !important;
	background-color: #000\9;
	background-image: none !important;
	top:0 !important;
	border:0 !important;
	
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	
	-webkit-transition:left 0.4s;
	-moz-transition:left 0.4s;
	-o-transition:left 0.4s;
	-transition:left 0.4s;
	
	
   -moz-box-shadow:none !important;
   -webkit-box-shadow:none !important;
   box-shadow:none !important;
	}


#sidebar:hover{
	left:-10px;

	-webkit-transition:left 0.4s;
	-moz-transition:left 0.4s;
	-o-transition:left 0.4s;
	-transition:left 0.4s;
	}

#sidebar div.cog{
	display: block;
	color:#fff;
	font-weight: bold;
	font-size: 16px;
	position: absolute;
	line-height:35px;
	width:35px;
	top:-3px;
	right:-35px;
	text-align: center;
	background-color:rgba(0,0,0,0.75);
	background-color: #000\9;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

#sidebar a.logo{display: none;}

#sidebar .user_box{
	display: none;	
}


#sidebar ul#accordion, #sidebar ul#side_links {
    border-color: #000 !important;
    }

#feature_container a.features {
    margin: 0 12px 12px 0 !important;
}

#loading_overlay .loading_message {margin-left: -76px;}