#template_options{
	display:block;
	position:fixed;
	bottom:0;
	right:0;
	left:0;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.7);
	*background-color:black;
	z-index: 9999;
	border-top: 1px solid #000;
	padding:5px 0 12px 10px;
	color:white;
}

#template_options a{
color: #0764CB;}
#template_options a:hover{
color: #3294FF;}


#template_options h3{
	display:inline;
	margin-right: 10px;
	margin-bottom:0;
	line-height:0px;
float:left;
margin-top:10px;
}


#template_options h4{
	display:inline;
	margin-right: 10px;
	float:left;
}


#template_options div{
	border:1px solid #666;
	background-color:black;
	float:left;
	display: inline;
	padding:5px 5px 2px;
	margin-right:5px;
	margin-top:5px;
}


#template_options div label{margin-right:5px; font-weight:bold; font-size:12px;}
#template_options div a{font-size:12px !important;}
#template_options div span{
	color:#666;
	margin:0 2px 0 3px;}
	
.theme_colour a{	
	border:1px solid #ccc;
	display: inline-block;
	width:10px;
	height:10px;
	margin: 2px 3px -1px;
	}
	
.theme_colour a span{display:none !important;}
	
.theme_colour a.black{background-color:black;}
.theme_colour a.blue{background-color:#1C5EA0;}
.theme_colour a.navy{background-color:#2b4356;}
.theme_colour a.red{background-color:#7C1F30;}
.theme_colour a.green{background-color:#3d8336;}
.theme_colour a.orange{background-color:#9c451a;}
.theme_colour a.magenta{background-color:#9b6ca6;}
.theme_colour a.light{background-color:#fff;}
