/* Colours:
	Top grad (light): #9b6ca6
	Bottom grad (darker): #8d579a
	a link: #ab65b8
	a hover: #d784e6
	tab bg (dark): #4f2858
 */
 
a.logo, #login_box a#login_logo {
    background: transparent url(../../images/adminica_logo_magenta-trans.png) no-repeat
    }

#login_box a#login_logo {
    background-position: 0 -15px
    }

/* Coloured Header Gradients, eg. Sortable Boxes, Tab Boxes, Date-picker, etc. */
grad_skin,
button,
.calendar_grad, #nav_top > ul > li.current > a, .box_head, .tab_header, .tab_sider, #login_box #bar, #search_side, .wizard .wizard_steps ul, .dataTables_wrapper .ui-widget-header, .ui-button .ui-state-active, .ui-widget-header .ui-state-active, .ui-buttonset .ui-button.ui-state-active, .ui-multiselect .ui-widget-header, .ui-slider .ui-slider-range, .slider-content .selected .title, .fc-header .fc-state-active, .fc-header .ui-state-active, .dataTables_wrapper .dataTables_paginate span span.ui-state-disabled  {
    background-color: #9b6ca6;	
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9b6ca6), to(#8d579a)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #9b6ca6, #8d579a); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #9b6ca6, #8d579a); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #9b6ca6, #8d579a); /* IE10 */
	background-image:      -o-linear-gradient(top, #9b6ca6, #8d579a); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #9b6ca6, #8d579a);
	
    border-color: #8d579a;
} 
 ul.drawer{
    background-color: #9b6ca6;
    border-color:#8d579a;	
 }
 
 
grad_skin_reverse,
button:hover
{
    background-color: #9b6ca6;	
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8d579a), to(#9b6ca6)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #8d579a, #9b6ca6); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #8d579a, #9b6ca6); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #8d579a, #9b6ca6); /* IE10 */
	background-image:      -o-linear-gradient(top, #8d579a, #9b6ca6); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #8d579a, #9b6ca6);
	
    border-color: #8d579a;
    }


/* Links, hovers, tabs*/
div.main_container a, #sidebar h3 a, #topbar h3 a {
    color: #ab65b8
}

div.main_container a:hover, #sidebar h3 a:hover, #topbar h3 a:hover, div.main_container .tabs ul.tab_header li:not(.ui-state-active) a:hover, div.main_container .tabs ul.tab_sider li:not(.ui-state-active) a:hover {
    color: #d784e6
}

#sidebar form#search_side:hover,.dataTables_wrapper .ui-widget-header select, #sidebar ul#accordion li ul.drawer li a, .dataTables_wrapper .ui-widget-header input, #nav_top ul li ul.dropdown li ul.slideout li a, div.main_container #nav_top ul li.current:first-child a div.main_container #nav_top ul li.current a{   
	border-color: #4f2858    
}

#nav_top ul li a:hover, #sidebar ul#accordion li a:hover, #nav_top ul li ul.dropdown li a.has_slide:hover,#sidebar ul#accordion li a.ui-state-active, .dataTables_wrapper .dataTables_paginate span span.ui-state-disabled {
	color: #8d579a
}