/* Colours:
	Top grad (light): #1C5EA0
	Bottom grad (darker): #064792
	a link: #1389ff
	a hover: #52a9ff
	tab bg (dark): #253a55
 */
 
a.logo, #login_box a#login_logo {
    background: transparent url(../../images/adminica_logo_blue-trans.png) no-repeat
    }

#login_box a#login_logo {
    background-position: 0 -15px
    }

/* Coloured Header Gradients, eg. Sortable Boxes, Tab Boxes, Date-picker, etc. */
grad_skin,
button,
.calendar_grad, #nav_top > ul > li.current > a, .box_head, .tab_header, .tab_sider, #login_box #bar, #search_side, .wizard .wizard_steps ul, .dataTables_wrapper .ui-widget-header, .ui-button .ui-state-active, .ui-widget-header .ui-state-active, .ui-buttonset .ui-button.ui-state-active, .ui-multiselect .ui-widget-header, .ui-slider .ui-slider-range, .slider-content .selected .title, .fc-header .fc-state-active, .fc-header .ui-state-active,.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled  {
    background-color: #1C5EA0;	
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1C5EA0), to(#064792)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #1C5EA0, #064792); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #1C5EA0, #064792); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #1C5EA0, #064792); /* IE10 */
	background-image:      -o-linear-gradient(top, #1C5EA0, #064792); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #1C5EA0, #064792);
	
    border-color: #064792;
} 
 ul.drawer{
    background-color: #1C5EA0;
    border-color:#064792;	
 }
 
 
grad_skin_reverse,
button:hover
{
    background-color: #1C5EA0;	
    background-image: -webkit-gradient(linear, left top, left bottom, from(#064792), to(#1C5EA0)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #064792, #1C5EA0); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #064792, #1C5EA0); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #064792, #1C5EA0); /* IE10 */
	background-image:      -o-linear-gradient(top, #064792, #1C5EA0); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #064792, #1C5EA0);
	
    border-color: #064792;
    }


/* Links, hovers, tabs*/
div.main_container a, #sidebar h3 a, #topbar h3 a {
    color: #1389ff
}

div.main_container a:hover, #sidebar h3 a:hover, #topbar h3 a:hover, div.main_container .tabs ul.tab_header li:not(.ui-state-active) a:hover, div.main_container .tabs ul.tab_sider li:not(.ui-state-active) a:hover {
    color: #52a9ff
}

#sidebar form#search_side:hover,.dataTables_wrapper .ui-widget-header select, #sidebar ul#accordion li ul.drawer li a, .dataTables_wrapper .ui-widget-header input, #nav_top ul li ul.dropdown li ul.slideout li a, div.main_container #nav_top ul li.current:first-child a div.main_container #nav_top ul li.current a{   
	border-color: #253a55    
}

#nav_top ul li a:hover, #sidebar ul#accordion li a:hover, #nav_top ul li ul.dropdown li a.has_slide:hover,#sidebar ul#accordion li a.ui-state-active,.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled {
	color: #064792
}