 /* Colours:
	Top grad (light): #53453e
	Bottom grad (darker): #3b2e28
	a link: #468966
	a hover: #4eb981
	tab bg (dark): #255537
 */
 
a.logo, #login_box a#login_logo {
    background: transparent url(../../images/adminica_logo_brown-trans.png) no-repeat
    }

#login_box a#login_logo {
    background-position: 0 -15px
    }

/* Coloured Header Gradients, eg. Sortable Boxes, Tab Boxes, Date-picker, etc. */
grad_skin,
button,
.calendar_grad, #nav_top > ul > li.current > a, .box_head, .tab_header, .tab_sider, #login_box #bar, #search_side, .wizard .wizard_steps ul, .dataTables_wrapper .ui-widget-header, .ui-button .ui-state-active, .ui-widget-header .ui-state-active, .ui-buttonset .ui-button.ui-state-active, .ui-multiselect .ui-widget-header, .ui-slider .ui-slider-range, .slider-content .selected .title, .fc-header .fc-state-active, .fc-header .ui-state-active,.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled  {
    background-color: #53453e;	
    background-image: -webkit-gradient(linear, left top, left bottom, from(#53453e), to(#3b2e28)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #53453e, #3b2e28); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #53453e, #3b2e28); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #53453e, #3b2e28); /* IE10 */
	background-image:      -o-linear-gradient(top, #53453e, #3b2e28); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #53453e, #3b2e28);
	
    border-color: #3b2e28;
} 
 ul.drawer{
    background-color: #53453e;
    border-color:#3b2e28;	
 }
 
 
grad_skin_reverse,
button:hover
{
    background-color: #53453e;	
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3b2e28), to(#53453e)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #3b2e28, #53453e); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #3b2e28, #53453e); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #3b2e28, #53453e); /* IE10 */
	background-image:      -o-linear-gradient(top, #3b2e28, #53453e); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #3b2e28, #53453e);
	
    border-color: #3b2e28;
    }


/* Links, hovers, tabs*/
div.main_container a, #sidebar h3 a, #topbar h3 a {
    color: #468966
}

div.main_container a:hover, #sidebar h3 a:hover, #topbar h3 a:hover, div.main_container .tabs ul.tab_header li:not(.ui-state-active) a:hover, div.main_container .tabs ul.tab_sider li:not(.ui-state-active) a:hover {
    color: #4eb981;
}

#sidebar form#search_side:hover,.dataTables_wrapper .ui-widget-header select, #sidebar ul#accordion li ul.drawer li a, .dataTables_wrapper .ui-widget-header input, #nav_top ul li ul.dropdown li ul.slideout li a, div.main_container #nav_top ul li.current:first-child a div.main_container #nav_top ul li.current a{   
	border-color: #255537;    
}

#nav_top ul li a:hover, #sidebar ul#accordion li a:hover, #nav_top ul li ul.dropdown li a.has_slide:hover,#sidebar ul#accordion li a.ui-state-active,.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled {
	color: #3b2e28;
}