
body {
    background: #eee url(../../images/backgrounds/bg_silver.jpg) repeat fixed
    }

#sidebar {
    background: #eef3f6;
    border: 1px solid #ccc;
    width: 175px;
    padding: 20px 10px 10px 10px;
    margin-left: 0;
    margin-top: -10px
    }

div.main_container {
    margin-left: 206px;
    background: #F6F7F8;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    -webkit-box-shadow: 0 0 0 1px #CCC;
    -moz-box-shadow: 0 0 0 1px #CCC;
    box-shadow: 0 0 0 1px #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px
    }

#nav_top {
    margin: -11px 2px 15px 0
    }

.side_accordion, .side_links {
    border: 1px solid #333
    }

#search_side {
    border-color: #333 !important
    }

#search_side:hover {
    border-color: #000 !important
    }

.flat_area h2 {
    border: none;
    background: none;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff
    }

#login_box {
    background: #F6F7F8
    }

#nav_top > ul {
    display: block;
    border: 1px solid #333;
    background: #ccc;
    width: 100%
    }

#nav_top > ul > li {
    border-bottom: 1px solid #333;
    margin-bottom: -1px
    }

#nav_top > ul > li > a {
    border-top: 0;
    border-bottom: 0
    }

#nav_top > ul > li.current > a {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    margin: -1px 0 -1px -1px;

    }

#nav_top > ul > li:last-child > a {
    border-right-color: #333
    }

#nav_top ul li ul.dropdown {
    top: 32px
    }
    
.user_box{
	border-color: #333 !important;
}

.content_accordion > li:first-child > h3.bar {
    border-top-color: #333
    }

.accordion_box {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
    }

.tabs ul.tab_header {
    width: auto
    }

#wrapper div.main_container .box.light h2.box_head, .grad_grey {
    background: #DFE2E4;
    background: -webkit-linear-gradient(top, #E6ECEF 0%, #D0D6DA 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E6ECEF 0%), color-stop(1, #D0D6DA 99%));
    background: -moz-linear-gradient(top, #E6ECEF 0%, #D0D6DA 99%);
    background: -o-linear-gradient(top, #E6ECEF 0%, #D0D6DA 99%);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#E6ECEF 0%, EndColorStr=#D0D6DA 99%)";
    background: linear-gradient(top, #E6ECEF 0%, #D0D6DA 99%);

    zoom: 1
    }

.grad_grey_dark, #nav_top > ul, #sidebar, #login_box {
    background: #959ba2;
    background: -webkit-linear-gradient(top, #959ba2 0%, #707780 99%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #959ba2 0%), color-stop(1, #707780 99%)) !important;
    background: -moz-linear-gradient(top, #959ba2 0%, #707780 99%) !important;
    background: -o-linear-gradient(top, #959ba2 0%, #707780 99%) !important;
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#959ba2 0%, EndColorStr=#707780 99%)" !important;
    background: linear-gradient(top, #959ba2 0%, #707780 99%) !important;

    zoom: 1;
    border: 1px solid #4C5766 !important;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25) !important;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25) !important
    }

/*--------------------------------
   Corners
--------------------------------*/
body .round_all, button, #nav_top ul, div.main_container .box h2.box_head.round_all, #sidebar #search_side, div.main_container .box, .alert, .indent, div.main_container .gallery ul li a, #sidebar .user_box h3 a, #topbar .user_box h3 a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
    }

body round_all_small, .flat_area h2, .box .block input, .box .block textarea{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px
    }

body .round_none {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
    }

body .round_bottom, #sidebar, #sidebar ul#accordion li:last-child a, #sidebar ul#side_links li:last-child a, #sidebar ul#accordion li ul.drawer li:last-child a, #sidebar ul#accordion li:last-child ul.drawer, #nav_top ul li ul.dropdown li:last-child a, #nav_top ul li ul.dropdown, #nav_top ul li ul.dropdown li:last-child ul.slideout li:last-child, #nav_top ul li ul.dropdown li:last-child ul.slideout li:last-child a, #search_bar input.indent, span.form_tag, div.main_container .box ul.content_accordion li:last-child h3.bar, .dataTables_wrapper .ui-corner-bl, body div.main_container #nav_top ul li.current:last-child a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px
    }

body .round_top, #sidebar ul#accordion li:first-child a, #sidebar ul#side_links li:first-child a, div.main_container .box h2.box_head, .tabs ul.tab_header, div.main_container .tabs ul.tab_header li a, .box ul.no_header, .box ul.no_header li:first-child, .box ul.no_header li:first-child h3, .dataTables_wrapper .ui-corner-tl, .ui-datepicker .ui-datepicker-header {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px
    }

body .round_left, #nav_top ul li:first-child a, #nav_top ul li:first-child, div.main_container .tabs ul.tab_sider, div.main_container .tabs ul.tab_sider li a, .dataTables_wrapper .dataTables_paginate span.first, .box .no_padding .dataTables_wrapper .ui-corner-tl, body div.main_container #nav_top ul li.current:first-child a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px
    }

body .round_right, .dataTables_wrapper .dataTables_paginate span.last, body div.main_container #nav_top ul li.current:last-child a,
#nav_top ul li:last-child a, #nav_top ul li:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px
    }

body .round_ynnn, .fc thead tr th.fc-first {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px
    }

body .round_nynn .fc thead tr th.fc-last {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px
    }

body .round_nnyn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px
    }

/* styleswitcher stuff */
#bg_light {
    display: block !important
    }

#bg_dark {
    display: none !important
    }