<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd"
  default-lazy-init="false" default-autowire="byType">
  <!-- Web -->
  <bean id="dateTimeFormatter" class="org.projectforge.web.calendar.DateTimeFormatter" scope="singleton" />
  <bean id="formatterFactory" class="org.projectforge.renderer.custom.FormatterFactory">
    <!-- PDF Renderer Formatter -->
    <property name="formatters">
      <map>
        <entry key="Micromata">
          <bean id="micromataFormatter" class="org.projectforge.renderer.custom.MicromataFormatter">
            <property name="taskFormatter" ref="taskFormatter" />
            <property name="dateTimeFormatter" ref="dateTimeFormatter" />
            <property name="htmlHelper" ref="htmlHelper" />
            <property name="userFormatter" ref="userFormatter" />
          </bean>
        </entry>
      </map>
    </property>
  </bean>
  <bean id="htmlHelper" class="org.projectforge.web.HtmlHelper" scope="singleton" />
  <bean id="kundeFormatter" class="org.projectforge.fibu.KundeFormatter" scope="singleton" />
  <bean id="menuBuilder" class="org.projectforge.web.MenuBuilder" scope="singleton" />
  <bean id="priorityFormatter" class="org.projectforge.web.core.PriorityFormatter" scope="singleton" />
  <bean id="projektFormatter" class="org.projectforge.fibu.ProjektFormatter" scope="singleton" />
  <bean id="sessionStorage" class="org.projectforge.web.core.SessionStorage" scope="singleton" />
  <bean id="taskFormatter" class="org.projectforge.web.task.TaskFormatter" scope="singleton" />
  <bean id="userFormatter" class="org.projectforge.web.user.UserFormatter" scope="singleton" />
  <bean id="wicketApplicationFilter" class="org.projectforge.web.wicket.WicketApplicationFilter" />
  <bean id="RestUserFilter" class="org.projectforge.web.rest.RestUserFilter" />

  <!-- Scheduling -->
  <bean id="cronSetup" class="org.projectforge.core.CronSetup" />
  <bean id="hibernateSearchReindexer" class="org.projectforge.core.HibernateSearchReindexer" />
  <bean id="mebJobExecutor" class="org.projectforge.meb.MebJobExecutor" />
</beans>
