<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="false" default-autowire="byType">
  <!-- Web -->
  <bean id="dateTimeFormatter" class="org.projectforge.web.calendar.DateTimeFormatter" singleton="true" />
  <bean id="formatterFactory" class="org.projectforge.renderer.custom.FormatterFactory">
    <!-- PDF Renderer Formatter -->
    <property name="formatters">
      <map>
        <entry key="Micromata">
          <bean id="micromataFormatter" class="org.projectforge.renderer.custom.MicromataFormatter">
            <property name="taskFormatter" ref="taskFormatter" />
            <property name="dateTimeFormatter" ref="dateTimeFormatter" />
            <property name="htmlHelper" ref="htmlHelper" />
            <property name="userFormatter" ref="userFormatter" />
          </bean>
        </entry>
      </map>
    </property>
  </bean>
  <bean id="htmlHelper" class="org.projectforge.web.HtmlHelper" singleton="true" />
  <bean id="kundeFormatter" class="org.projectforge.fibu.KundeFormatter" singleton="true" />
  <bean id="menuBuilder" class="org.projectforge.web.MenuBuilder" singleton="true" />
  <bean id="priorityFormatter" class="org.projectforge.web.core.PriorityFormatter" singleton="true" />
  <bean id="projektFormatter" class="org.projectforge.fibu.ProjektFormatter" singleton="true" />
  <bean id="sessionStorage" class="org.projectforge.web.core.SessionStorage" singleton="true" />
  <bean id="taskFormatter" class="org.projectforge.web.task.TaskFormatter" singleton="true" />
  <bean id="userFormatter" class="org.projectforge.web.user.UserFormatter" singleton="true" />
  <bean id="wicketApplicationFilter" class="org.projectforge.web.wicket.WicketApplicationFilter" />
  <bean id="RestUserFilter" class="org.projectforge.web.RestUserFilter" />
	
  <!-- Scheduling -->
  <bean id="cronSetup" class="org.projectforge.core.CronSetup" />
  <bean id="hibernateSearchReindexer" class="org.projectforge.core.HibernateSearchReindexer" />
  <bean id="mebJobExecutor" class="org.projectforge.meb.MebJobExecutor" />
</beans>
