table.data th {
	font-weight: normal;
	text-align: right;
	padding-right: .5em;
}

table.data th.strong {
	font-weight: bold;
}

table.data th.label-value-single-col {
	text-align: left;
}

table.data td {
	font-weight: bold;
}

div.ui-collapsible-contain div.ui-collapsible-contain div.content {
	border: 1px solid #fff;
	margin-left: -1em;
	margin-right: -.5em;
	padding: .1em;
}

div.ui-collapsible-content h4 {
	margin-top: .2em;
	margin-bottom: .2em;
}

#searchfield.ui-br {
	border-bottom: none;
}

#searchfield.ui-body {
	position: relative;
	padding: 0em 1px;
	overflow: hidden;
	display: block;
	clear: both;
}

li.moreEntriesAvailable {
	color: red;
	font-style: italic;
}