body .main_container{
margin:0px 10px 10px 10px;
*top:10px;
}


#stackbar{display: none;}

#topbar{
	display:block;
	margin-top: -10px;}

a.logo{
	margin-top: -10px;
}

#loading_overlay .loading_message {margin-left: -76px;}

body .main_container{
	margin-left:10px !important;
	*top:10px;
	}

body #sidebar,
body #wrapper #sidebar.fixed{
	display: block;
	position: fixed !important;
	left:-200px;
	padding:10px 10px 10px 20px !important;
	margin: 0 !important;
	z-index: 999; /* Important, do not change */
	background-color:rgba(0,0,0,0.75) !important;
	background-color: #000\9;
	background-image: none !important;
	top:0;
	border:0 !important;

    border-radius: 0;
	border-bottom-right-radius: 5px;

	outline: 0; /* Important, do not remove */

	box-shadow:none !important;
	}

#wrapper.has_fixed_bar #sidebar{
	top: 36px !important;
}


.sidebar div.cog{
	display: block;
	color:#fff;
	font-weight: bold;
	font-size: 16px;
	position: absolute;
	line-height:35px;
	width:35px;
	top:-3px;
	right:-35px;
	text-align: center;
	background-color:rgba(0,0,0,0.75);
	background-color: #000\9;
	border-bottom-right-radius: 5px;
}

.sidebar a.logo{display: none;}

.sidebar .user_box{
	display: none;
}


.sidebar ul.side_accordion, .sidebar ul.side_links {
    border-color: #000 !important;
    }
