/* Colours:
	Top grad (light): #9e253b
	Bottom grad (darker): #7C1F30
	a link: #BF2453
	a hover: #f74d6c
	tab bg (dark): #5f0314
 */

a.logo, a#login_logo {
    background: transparent url("../../images/interface/adminica_logo_red-trans.png") no-repeat
    }

a#login_logo {
    background-position: 0 -15px
    }

/* Coloured Header Gradients, eg. Sortable Boxes, Tab Boxes, Date-picker, etc. */
.grad_skin,
.alert_badge,
.calendar_grad, .dropdown_menu > ul > li.current > a, .box_head, .tab_header, .tab_sider, #login_box #bar, #search_side, .wizard .wizard_steps ul, .dataTables_wrapper .ui-widget-header, .ui-button .ui-state-active, .ui-widget-header .ui-state-active, .ui-buttonset .ui-button.ui-state-active, .ui-multiselect .ui-widget-header, .ui-slider .ui-slider-range, .slider-content .selected .title, .fc-header .fc-state-active, .fc-header .ui-state-active,.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled,
.ui-progressbar .ui-progressbar-value,
.stackbar.stack_view > ul > li > a > span,
div.stackbar.stack_view > ul > li > a > span::before  {
    background-color: #9e253b;
	background-image:         linear-gradient(top, #9e253b, #7C1F30);

    border-color: #7C1F30;
}
 ul.drawer{
    background-color: #9e253b;
    border-color:#7C1F30;
 }


grad_skin_reverse{
    background-color: #9e253b;
	background-image:         linear-gradient(top, #7C1F30, #9e253b);

    border-color: #7C1F30;
    }


/* Links, hovers, tabs*/
div.main_container p a, #sidebar h3 a,#stackbar h3 a, #topbar h3 a, .text a, body #template_options a, a.show_all_tabs  {
    color: #BF2453
}

div.main_container p a:hover,#sidebar h3 a:hover, #topbar h3 a:hover, .text a:hover, body #template_options a:hover, a.show_all_tabs:hover {
    color: #f74d6c;
    border-color: #f74d6c;
}

#sidebar form#search_side:hover,.dataTables_wrapper .ui-widget-header select li ul.drawer li a .dataTables_wrapper .ui-widget-header input, .dropdown_menu ul li ul.dropdown li ul.slideout li a, div.main_container .dropdown_menu ul li.current:first-child a div.main_container .dropdown_menu ul li.current a{
	border-color: #5f0314
}


.dropdown_menu ul li a:hover, .dropdown_menu ul li ul.dropdown li a.has_slide:hover,.dataTables_wrapper .dataTables_paginate span span.ui-state-disabled {
	color: #7C1F30;
}
.dropdown_menu ul li ul.dropdown li.current{
	border-color: #7C1F30
}
