<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<title>Preview of date panel</title>
</head>
<body>
  <wicket:panel>
    <table class="dataview">
      <tbody>
        <tr wicket:id="lines">
          <td style="text-align: right; font-size: smaller" wicket:id="lineNo">[1]</td>
          <td style="font-size: smaller" wicket:id="line">[...]</td>
        </tr>
      </tbody>
    </table>
  </wicket:panel>
</body>
</html>