body #sidebar {
	border-top-right-radius: 0px;
	top: 75px !important;
}

.display_none {
	
}

div.dialog_content .box,div.dialog_content .block {
	opacity: 1;
}

#nav_top>ul>li>a>img.gear {
	padding-right: 10px;
}

#sidebar div.cog {
	top: 0px;
	border-top-right-radius: 5px;
}

#nav_top {
	margin: -57px 160px 10px 30px;
}

#nav_top>ul>li>ul,#nav_top ul li ul.dropdown {
	width: 180px;
}

#topbar .user_box {
	z-index: 1000;
	width: 150px;
}

ul.tab_header {
	letter-spacing: normal;
}

div.jqui_radios,div.jqui_checkbox {
	float: left;
}

div.field_div {
	float: left;
	width: 100%;
}

div.field_div span,div.field_div input,div.field_div div,div.field_div a,div.field_div div input,div.field_div select
	{
	float: left;
}

button,select {
	letter-spacing: normal;
}

fieldset .text {
	height: 32px;
}

.ui-buttonset {
	letter-spacing: -3px;
}