/* ================ */ /* = Calendar css = */ /* ================ */
/*#main_container {
width: 100%;
height: 100%;
}*/
#main_container table.calendar {
width: 100%;
border-collapse: collapse;
border: none;
letter-spacing: normal;
}
#main_container table.calendar td {
width: 14% !important;
overflow: hidden;
}
#main_container table.calendar tr th {
background-color: #fff;
border: 1px solid #D9DFE1;
}
#main_container table.calendar tr.calendarhead th {
height: 4em;
vertical-align: middle;
background: #D9DFE1;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0.0,#F0F5F7),color-stop(1,#D9DFE1));
background: -moz-linear-gradient(top,#F0F5F7,#D9DFE1);text-align: center;
border-bottom: 1px solid #8994A0;

}
/* Die Knoeppe über dem Kalender sind jetzt eine Liste,bitte in der JSP beachten...nachfolgendes Script macht sie schick*/
#main_container table.calendar tr.calendarhead th div.calendartoolcontainer{
	float:left;
}
#main_container table.calendar tr.calendarhead th ul.calendartools {
list-style-type: none;
margin: 0.2em 2em;
float:left;
font-size:1em;
-moz-border-radius: 1.5em;
-webkit-border-radius: 1.5em;
border-radius: 1.5em;
background: #D9DFE1;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0.0,#F0F5F7),color-stop(1,#D9DFE1));
background: -moz-linear-gradient(top,#F0F5F7,#D9DFE1);
border: 1px solid #D9DFE1;

}


#main_container table.calendar tr.calendarhead th ul.calendartools li {
margin: 0;
padding: 0;
line-height: 20px;
float: left;
list-style-type: none;
height:2em;

}
#main_container table.calendar tr.calendarhead th ul.calendartools li a {
display: block;
margin: 0;
padding: 0 0.2em;
text-decoration:none;

}

#main_container table.calendar tr.calendarhead th ul.calendartools li.left{border-right: 1px solid #D9DFE1; padding-right:.5em;}
#main_container table.calendar tr.calendarhead th ul.calendartools li.right {border-left: 1px solid #F0F5F7; padding-left:.5em;}

#main_container table.calendar tr.calendarhead th ul.calendartools li.month,
#main_container table.calendar tr.calendarhead th ul.calendartools li.today,
#main_container table.calendar tr.calendarhead th ul.calendartools li.cancel {
	border-left: 1px solid #F0F5F7;
	border-right: 1px solid #D9DFE1;
}

#main_container table.calendar tr.calendarhead th ul.calendartools li.month {
  width: 20em;
}

#main_container table.calendar tr.calendarhead th ul.calendartools li.month a {
		font-size:1.3em;
		line-height: 1.7em;
}
#main_container table.calendar tr.calendarhead th ul.calendartools li.inner {
}
#main_container table.calendar tr.calendarhead th ul.calendartools li.inner:hover {
}
#main_container table.calendar tr.calendarhead th ul.calendartools li.inner a {
}
#main_container table.calendar tr.calendarhead th ul.calendartools li.inner a img {
}



#main_container table.calendar tr.calendarsubhead th,
#main_container table.calendar tr th.week {
	
	font-size: 1.3em;
	font-weight: normal;
	padding: 0.3em;
	text-align: center;
}

#main_container table.calendar tr.calendarsubhead th {
	background:#F0F5F7;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0.0,#F0F5F7),color-stop(1,#D9DFE1));
	background: -moz-linear-gradient(top,#F0F5F7,#D9DFE1);
border-bottom-color: #8994A0;
}

#main_container table.calendar tr th.week {
background: -webkit-gradient(linear,left top,right top,color-stop(0.0,#F0F5F7),color-stop(1,#D9DFE1));
background: -moz-linear-gradient(left,#F0F5F7,#D9DFE1);
border-right-color: #8994A0;
}

#main_container table.calendar tr th.week .weekduration{
	font-size: 0.8em;
	font-weight:normal;
}


#main_container table.calendar tr th.week .kw {
	line-height:3em;
}

#main_container table.calendar tr th.week,#main_container table.calendar tr.calendarsubhead th.week {
vertical-align: middle;
}
.calendarpage #main_container form {
display: inline;
}
#main_container table.calendar tr th a {
}
#main_container table.calendar tr th a:visited {
}
#main_container table.calendar tr th a:active {
}
#main_container table.calendar tr th a:hover {
}
#main_container table.calendar tr th.week {
}
#main_container table.calendar tr th.short {

}
#main_container table.calendar tr td {
background-color: #fff;
color: #999;
border: 1px solid #D9DFE1;
vertical-align: top;
}
#main_container table.calendar tr td p {
display: inline;
clear: left;
float: left;
margin: 0;
padding: 0;
width: 100%;
overflow: hidden;

}


#main_container table.calendar tr td span.holiday,
#main_container table.calendar tr td span.calendartimesheet,
#main_container table.calendar tr td span.birthday {
/*white-space: nowrap;
/*	font-size: 0.8em;*/
	padding: 0.1em 0.5em;
	margin: 0 0.1em 0.1em 0.1em;
	-moz-border-radius: 0.7em;
	-webkit-border-radius: 0.7em;
	border-radius: 0.7em;
	text-decoration: none;
	display: block;
}
#main_container table.calendar tr td span.calendartimesheet {
	font-size:1em;
	background: #BBC1C3;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0.0,#F8F8F8),color-stop(1,#E8E8E8));
	background: -moz-linear-gradient(top,#F8F8F8,#E8E8E8);
	color: #7E8283;
	border: 1px solid #D1D1D1;
}

#main_container table.calendar tr td span.empty {
	background: #FFFFFF;
}

#main_container table.calendar tr td span.holiday,
#main_container table.calendar tr td span.birthday{
	background: #FFFFFF;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0.0,#FFFFFF),color-stop(1,#FFFFFF));
	background: -moz-linear-gradient(top,#EEE9D3,#E3D8AD);
	color: #887642;
	border: 1px solid #D9BC67;
	position:relative;
}

#main_container table.calendar tr td span.others{
	font-weight:normal;
	background: #FFFFFF;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0.0,#FFFFFF),color-stop(1,#FFFFFF));
	background: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF);
	color: #4B6D6E;
	border: 1px solid #659394;
}

#main_container table.calendar tr td span.favourite{
	font-weight:normal;
	background: #FFAAFF;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0.0,#FFAAFF),color-stop(1,#FFFFFF));
	background: -moz-linear-gradient(center top , #FFD8FF, #FFE1FF);
	color: #9C1D9E;
	border: 1px solid #E999EC;
}


/*
#main_container table.calendar tr td span.employee:before ,
#main_container table.calendar tr td span.favourite:before{
	content: "3 ";	
	font-family: EmbatsSymbols;
	position: absolute;
	left: 0.5em;
	font-size-adjust: 1;
	overflow:hidden;
}
*/



#main_container table.calendar tr td span.calendartimesheet a,
#main_container table.calendar tr td span.holiday a{
	text-decoration: none;
	font-weight: normal;
	position: relative;
}


#main_container table.calendar tr td p span.calendartimesheet a.time,
#main_container table.calendar tr td p span.calendartimesheet a.entry {
	color: #2274AC;
	font-weight: normal;
	position: relative;
	
}

#main_container table.calendar tr td p span.calendartimesheet a.entry {
 padding-right:1.25em;
}

#main_container table.calendar tr td p span.calendartimesheet a.time.start {color: #00B1EB; }
#main_container table.calendar tr td p span.calendartimesheet a.time.stop {color: #00B1EB;  }
#main_container table.calendar tr td p span.calendartimesheet a.time.break {padding-right:1em;}

/*
#main_container table.calendar tr td p span.calendartimesheet a.time.start:before {
	content: "<";
		position: absolute;
	left: 0em;
	top: -0.4em;
	font-size-adjust: 1;
	overflow:hidden;
}
#main_container table.calendar tr td p span.calendartimesheet a.time.stop:after{
	content: ">";
	position: absolute;
	right: 0em;
	top: -0.4em;
	font-size-adjust: 1;
	overflow: hidden;
}
#main_container table.calendar tr td p span.calendartimesheet a.time.break:before {
	content: "q";
	font-family: Embats;
	position: absolute;
	left: -0.2em;
	top: -0.4em;
	font-size-adjust: 1;
	overflow: hidden;
}
#main_container table.calendar tr td p span.calendartimesheet a.time.break:after{
	content: "t";
	font-family: Embats;
	position: absolute;
	right: -0.2em;
	top: -0.4em;
	font-size-adjust: 1;
	overflow: hidden;
}
*/

#main_container table.calendar tr td span.duration {
	top: 0.5em;
	left: 30%;
	position: relative;
	vertical-align: top;
}







#main_container table.calendar tr td ul li {
display: inline;
float: left;
color: red
}
#main_container table.calendar tr td ul li a {
color: red;
}
#main_container table.calendar tr td.normal {
background-color: #ffffff;
}
#main_container table.calendar tr td.today {
background-color: #D6EAF5;
}
#main_container table.calendar tr td.today:hover {
background-color: #C0D2DB;
}

#main_container table.calendar td.non-working-day {
background-color: #EFF8BF;
font-weight: bold;
color: #84A300;
}

#main_container table.calendar td.non-working-day.hover{
	background-color: #D7F33D;
}
#main_container table.calendar td.holiday-working-day .day {
font-weight: bold;
color: #AE9962;
}
#main_container table.calendar tr td.hover,#main_container table.calendar tr th.hover {
background-color: #F0F5F7;
}
table.calendar td.sun-or-holiday a {
}
table.calendar td.sun-or-holiday a:visited {
}
table.calendar td.sun-or-holiday a:active {
}
table.calendar td.sun-or-holiday a:hover {
}
#main_container table.calendar td.other-month {
background-color: #ededed;
opacity: 0.25;
-moz-opacity: 0.25;
filter:alpha(opacity=25);
}

#main_container table.calendar td.other-month.hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	background-color:#fff;
}


table.calendar td.other-month a {
color: #999;
}
table.calendar td.other-month a:visited {
color: #999;
}
table.calendar td.other-month a:active {
color: #999;
}
table.calendar td.other-month a:hover {
color: #999;
}

a.add {
color: #8994A0;
text-decoration: none;
}

a.date {
color: aqua;
}

.day {
	float:right;
	font-size:1.4em;
	padding:0.2em;
}
