div.controls div {
	display: inline-block;
}

form input.number {
	width: 5em !important;
}

form input.datepicker {
	width: 6em !important;
}

form input.phone {
	width: 10em !important;
}

.form-horizontal .placeholder {
	margin-left: 18px;
}

form div.button_bar {
	border-color: #d9e1e5;
	text-shadow: 0 1px 0 #fff;
	background-color: #eee;
	margin-left: 20px;
	margin-bottom: 10px;
}

input.warning {
	background-color: #FDD;
}

input.userselectpanel {
	width: 200px !important;
}

form.form-horizontal label.control-label {
	width: 100px;
}

form.form-horizontal div.controls {
	margin-left: 140px;
	width: -webkit-calc(100% -140px);
}

form.form-horizontal div.controls input,form.form-horizontal div.controls textarea
	{
	width: 99%;
	margin-top: 2px;
}

input[type='checkbox'], input[type='radio'] {
	width: 1px !important; /* Otherwise it's 100% and horizontal scrollbars occurs. */
}

select {
	font-size: 100%;
	height: 20px;
	margin-top: 2px;
}

.input-length-2 {
	width: 4em;
}