div.controls {
	float: left;
}

div.controls div {
	display: inline-block;
}

form input.number {
	width: 5em !important;
}

form input.datepicker {
	width: 6em !important;
}

form input.phone {
	width: 10em !important;
}

.form-horizontal .placeholder {
	margin-left: 18px;
}

form div.button_bar {
	border-color: #d9e1e5;
	text-shadow: 0 1px 0 #fff;
	background-color: #eee;
	margin-left: 20px;
	margin-bottom: 10px;
}

input.warning {
	background-color: #FDD;
}

input.userselectpanel {
	width: 200px !important;
}
