.newform input.readonly {
	background-color: #d0d0d0;
}

.hastooltip {
	font-style: italic;
}

.help {
	color: gray;
}

.counter {
	font-size: 0.8em;
	font-style: normal;
	margin-left: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: red;
	color: white;
	padding-left: 2px;
}

.taskStatus_opened {
	color: #518732;
}

.taskStatus_closed {
	color: #386773;
}

.priority_least {
	
}

.priority_low {
	
}

.priority_middle {
	
}

.priority_high {
	color: red;
	font-weight: bold;
}

.priority_highest {
	background-color: red;
	color: white;
	font-weight: bold;
}

.tp_collision {
	color: #EC4031;
}

div.progress-none {
	width: 50px;
	height: 8px;
	background-color: #eeeeee;
	border-width: 1px;
	border-style: solid;
	border-color: #aaaaaa;
}

div.progress-done {
	width: 50px;
	height: 8px;
	background-color: #eeeeee;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

div.progress-done div {
	height: 8px;
	background-color: #099900;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: black;
}

div.progress-80 {
	width: 50px;
	height: 8px;
	background-color: #eeeeee;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

div.progress-80 div {
	height: 8px;
	background-color: #ffff00;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: black;
}

div.progress-90 {
	width: 50px;
	height: 8px;
	background-color: #eeeeee;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

div.progress-90 div {
	height: 8px;
	background-color: #ff8000;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: black;
}

div.progress-overbooked {
	width: 50px;
	height: 8px;
	background-color: #ff0000;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

div.progress-overbooked div {
	height: 8px;
	background-color: #ff8000;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: black;
}

div.progress-overbooked-min {
	width: 50px;
	height: 8px;
	background-color: #ff0000;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

div.progress-overbooked-min div {
	height: 8px;
	background-color: #eeeeee;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: black;
}

/* Zoom of phone numbers. */
#divZoom {
	position: fixed;
	z-index: 99999;
	left: 0px;
	top: 50px;
	width: 100%;
	text-align: center;
	line-height: 1.4em;
	font-family: arial black, arial, helvetica, sans-serif;
	font-weight: bold;
}

.zoomText {
	text-align: center;
	/*background-color: #FFFFFF;*/
	padding-left: 10px;
	padding-right: 10px;
}

/* Drop down menu */
ul.top-right {
	position: absolute;
	top: 3px;
	right: 10px;
	z-index: 30;
}

ul.dropdown-menu {
	margin: 0;
	padding: 0;
	font-size: 80%;
}

ul.top-right>li {
	margin: 0 1px 0 0;
	padding: 4px 10px;
}

ul.dropdown-menu>li {
	list-style: none;
	color: #FFF;
	text-align: center;
}

ul.dropdown-menu li a {
	display: block;
	text-decoration: none;
	color: #555555;
	text-decoration: none;
}

ul.dropdown-menu li a:hover {
	display: block;
	background: #FFFFFF;
}

ul.top-right ul {
	position: absolute;
	right: 0px;
}

ul.dropdown-menu ul {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #E8E8E8;
	border: 1px solid #555555;
}

ul.dropdown-menu ul li a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	background: #E8E8E8;
}

ul.dropdown-menu ul li a:hover {
	background: #FFFFFF;
}

div.errors {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E11D1C;
	color: #E11D1C;
	padding: 1em 1em 1em 1em;
}

div.message {
	background: none repeat scroll 0 0 #DDDDDD;
	border: 1px solid #000000;
	color: #000000;
	padding: 1em 1em 1em 1em;
}