<html>
#INCLUDE{mail/mailHead.html}
<body>
#INCLUDE{mail/mailOpening.html}
<br />
der Auftrag #${auftrag.nummer} wurde ge&amp;auml;ndert bzw. angelegt.
<br />
<a href="${requestUrl}">${requestUrl}</a>
<br />
<table class="form">
  <tr>
    <th>Nummer</th>
    <td>${auftrag.nummer}</td>
    <th>Referenz</th>
    <td colspan="3">${auftrag.referenz}</td>
  </tr>
  <tr>
    <th>Nettosumme</th>
    <td style="white-space: nowrap;">${nettoSumme}</td>
    <th>Status</th>
    <td colspan="3">${auftragsStatus}</td>
  </tr>
  <tr>
    <th>Titel</th>
    <td colspan="5">${auftrag.titel}</td>
  </tr>
  <tr>
    <th>Projekt</th>
    <td colspan="5">${projekt}</td>
  </tr>
  <tr>
    <th>Kunde</th>
    <td colspan="5">${kunde}</td>
  </tr>
  <tr>
    <th>Angebotsdatum</th>
    <td>${angebotsDatum}</td>
    <th>Bindungsfrist</th>
    <td>${bindungsFrist}</td>
    <th>Beauftragungsdatum</th>
    <td>${beauftragungsDatum}</td>
  </tr>
  <tr>
    <th>Anprechpartner</th>
    <td colspan="5">${contactPerson.fullname}</td>
  </tr>
  <tr>
    <th>Bemerkung</th>
    <td colspan="5">${bemerkung}</td>
  </tr>
  <tr>
    <th>Beschreibung Status</th>
    <td colspan="5">${statusBeschreibung}</td>
  </tr>
  <% for (position in auftrag.positionen) { %>
    <tr>
      <th colspan="6">Position #${position.number}</th>
    </tr>
    <tr>
      <th>Titel</th>
      <td>${position.titel}</td>
      <th>Art</th>
      <td>${position.art}</td>
      <th>Status</th>
      <td>${position.status}</td>
    </tr>
    <tr>
      <th>Nettosumme</th>
      <td style="white-space: nowrap;">${nettoSumme}</td>
      <th>Bemerkung</th>
      <td colspan="3">${position.bemerkung}</td>
    </tr>
    <% } %>
</table>

#INCLUDE{mail/mailHistoryTable.html}

#INCLUDE{mail/mailClosing.html}
#INCLUDE{mail/mailFooter.html}
</body>
</html>