<html lang="en" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<h1>Represents a field set panel. A form or page can contain multiple field sets.</h1>
<wicket:panel>
  <ul data-role="listview">
    <li data-role="list-divider" wicket:id="heading">[heading]</li>
    <wicket:container wicket:id="groupRepeater">[group panels]</wicket:container>
  </ul>
</wicket:panel>
</body>
</html>