<html lang="en" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<h1>Represents a form field set panel. A form can contain multiple field sets.</h1>
<wicket:panel>
  <fieldset class="float boxshadow roundcorners">
    <h3 wicket:id="heading">[heading]</h3>
    <wicket:container wicket:id="groupRepeater">[FormGroupPanels]</wicket:container>
  </fieldset>
</wicket:panel>
</body>
</html>