<html lang="en" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<h1>Represents a form group panel (as child of FormFieldSeetPanel).</h1>
<wicket:panel>
  <h4 wicket:id="heading">[heading]</h4>
  <wicket:container wicket:id="entriesRepeater" />
  <wicket:remove>
    <label class="clear half">Zip code/city</label>
    <input type="text" class="text quart" size="5" />
    <input type="text" class="text threequart" />
    <label class="clear half">Country</label>
    <input type="text" class="text full" />
  </wicket:remove>
</wicket:panel>
</body>
</html>