<html lang="en" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<h1>Represents a two-column table with label values. This component is used for mobile devices.</h1>
<wicket:panel>
  <table>
    <tbody>
      <tr wicket:id="rowRepeater">
        <th wicket:id="label">[Label]</th>
        <td wicket:id="value">[value]</td>
      </tr>
    </tbody>
  </table>
</wicket:panel>
</body>
</html>