table.tableTree {
	width: 100%;
	border: 1px solid #DDDDDD;
}

table.tableTree tr.even {
	background-color: #FFFFFF;
}

table.tableTree tr.oddd {
	background-color: #EEEEEE;
}

table.tableTree tbody tr:hover td,table.tableTree tbody tr:hover th,table.tableTree tbody tr.over td,table tbody tr.over th
	{
	background: #d9dfe1;
}