@media (min-width: 980px) {
  ul.mm_menueconfig{
    float:left;
  }
  .container ul.mm_menueconfig > li > a
  {
    padding-left:8px;
    padding-right:8px;
  }
  #pf_sortablecontainer{
    width: 538px;
    display: inline-block;
    height: 40px;
    float:left;
  }
  #pf_sortablecontainer > ul{
    position:absolute;
    z-index:10000;
    left:35px;
  }
  .container ul.nav > li > a{
    padding-bottom:9px;
  }
  .pf_sortable-placeholder{
    border:1px dotted red;
    margin-top:10px;
    height:20px;
    display:block;
    min-width:50px;
  }

  .pf_redborder{
    border:1px dotted red;
  }
  .pf_draghelper {
    position:absolute;
    z-index:20000;
    top:-100px;
    white-space:nowrap;
    background:#f8f8f8;
    display:block;
    padding:3px 24px 3px 10px;
    font-family: sans-serif;
    font-size: 12px;
    color:#777;
    line-height:20px;
  }
  ul.nav.mm_menueconfig li:hover ul.dropdown-menu{
    display:none;
  }
  ul.nav.mm_menueconfig li.open:hover ul.dropdown-menu{
    display:block;
  }
  .container ul.nav > li.mm_menueconfig > a {
    padding-bottom:10px;
  }
  .mm_menueconfig .dropdown-menu ul li a{
    cursor:move;
  }
  .mm_menueconfig .dropdown-menu{
    width:770px;
    top: 100%;
    left: 0px;
    float: left;
    padding-left:5px;
  }
  .navbar .nav > li.mm_menueconfig > .dropdown-menu::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left:49px;
  }
  .navbar .nav > li.mm_menueconfig > .dropdown-menu::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left:50px;
  }
  .mm_menueconfig .dropdown-menu ul{
    overflow:hidden;
    margin:0;
  }
  .mm_menueconfig .dropdown-menu li{
    float:left;
    width:140px;
    padding-left:4px;
    padding-right:4px;
    padding-bottom:3px;
    margin-right:6px;
    margin-bottom:6px;
    background:#f0f0f0;
  }
  .mm_menueconfig .dropdown-menu > li > a:hover{
    background-image:none;
    color:#333;
    background:#f0f0f0;
  }
  .mm_menueconfig .dropdown-menu li li{
    clear:left;
    list-style-type:none;
    margin:0;
    padding:0;
    background:#f8f8f8;
    border-bottom:1px solid #f0f0f0;
  }
  .mm_menueconfig .dropdown-menu li li a{
    white-space:normal;
  }
  .mm_clear{
    clear:left;
  }
  .dropdown-submenu .caret{
    display:none;
  }
  ul.dropdown-menu li.dropdown-submenu.open ul.dropdown-menu{
    visibility: visible;
    display:block;
  }
}