body #sidebar {
	border-top-right-radius: 0px;
	top: 75px !important;
}

#sidebar div.cog {
	top: 0px;
	border-top-right-radius: 5px;
}

#nav_top {
	margin-left: 45px;
	margin-top: -30px;
	margin-right: 15em;
}

#nav_top>ul>li>ul,#nav_top ul li ul.dropdown {
	width: 180px;
}

#topbar .user_box {
	z-index: 1000;
	width: 150px;
}
